@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model PersonalInfo.Models.Person

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="page-info">Detailed information about the person</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        @* @if (Model.AllAddresses.Count != null) *@
        @* { *@
        @*     @foreach(Addresses add in Model.AllAddresses) *@
        @*     { *@
        @*         <dt class = "col-sm-2"> *@
        @*             @Html.DisplayNameFor(add => add.Address) *@
        @*         </dt> *@
        @*         <dd class = "col-sm-10"> *@
        @*             @Html.DisplayFor(add => add.Address) *@
        @*         </dd> *@
        @*     } *@
        @* } *@
       
         
    </dl>
</div>
<div>
    <a class="details-button" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="details-button" asp-action="Index">Back to List</a>
</div>
